<nav class="rtl navbar navbar-expand-md navbar-dark bg-primary">
  <a style="margin-top:-10px;color:pink;
font-family:ToyorAljanah;font-size:2.25rem;font-weight:bolder" class="navbar-brand"
    [routerLink]="['']"  ><i class="fa fa-heart" aria-hidden="true"></i>زواج<i class="fa fa-heart" aria-hidden="true"></i></a>

  <ul *ngIf="loggedIn()" style="letter-spacing:1px;font-weight:bold;font-family:'JF Flat';font-size:1.2rem" class="navbar-nav mr-auto">
    <!-- مش محتاج parameters عشان كده مش هكتب routerLinkActive="active" -->
    <li class="nav-item">
      <!-- <a class="nav-link" [routerLink]="['/home']" >الرئيسية </a> -->
      <a class="nav-link" [routerLink]="['']" >الرئيسية </a>
      <!-- <a class="nav-link" href="#">الرئيسية </a> -->
    </li>
    <!-- routerLinkActive="active" عشان اعممها دى لو هتاج اضيف parameters -->
    <li class="nav-item" routerLinkActive="active">
      <!-- <a class="nav-link" href="#">بحث</a> -->
      <a class="nav-link" [routerLink]="['/members']"  >بحث</a>
    </li>
    <li class="nav-item"  routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/lists']" >تواصل</a>
      <!-- <a class="nav-link" href="#">تواصل</a> -->
    </li>
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/messages']" >دردشة</a>
      <!-- <a class="nav-link" href="#">دردشة</a> -->
    </li>

    <!-- 41-04-06 -->
    <!-- <li class="nav-item"> -->
      <!-- بعد ما اضغط على خروج ينفذ ال loggedOut -->
      <!-- وكلمه خروج لاتظهر اللا بعد ال loggedIn = true -->
      <!-- <a class="nav-link" *ngIf="loggedIn()" (click)="loggedOut()">خروج</a>
    </li> -->
  </ul>


  <!-- 41-04-06 -->
  <div *ngIf="loggedIn()" dropdown class="dropdown">
    <!-- ngf Structure Directive ngIf ngfor ngswitch بتعمل تغيير فى ال dom(domain object model) الخاص بصفحه ال html-->
    <!-- *ngIf take true ofr false = like loggedIn -->
    <a dropdownToggle   class="dropdown-toggle text-light nav-link" style="letter-spacing:1px;font-weight:bold;font-family:'JF Flat';font-size:1.2rem" >
      مرحبا بك
      <!-- ال ts file بيتحول الى java script لان كل ال browsers مبتفهمش ال ts-->
      <!-- ال authService private هنحولها الى public -->
      {{authService.decodedToken?.unique_name | titlecase}}
    </a>
  
    <div *dropdownMenu class="dropdown-menu mt-3" >
      <a class="dropdown-item" ><i class="fa fa-user" aria-hidden="true"></i>
        ملفى الشخصى</a>

      <div class="dropdown-divider"></div>
      <a  (click)="loggedOut()" class="dropdown-item" ><i class="fa fa-sign-out"></i>
        تسجيل الخروج</a>
    </div>
  </div>


  <!-- template form -->
  <!-- فيه نوعين من ال form ال angular form و ال reactive form -->
  <!-- عشان اعرف نوع ال form اللى هستخدمها #LoginForm="ngForm" -->
  <!-- لتنفيذ ال event ال Submit (ngSubmit)="login()"-->
  <!-- ngForm in angular عكس ال reactForm -->

  <!-- فى حاله الدخول اخفى ال form -->
  <!-- عايز لو ال token موجود ال Login form تختفى *ngIf="!loggedIn()" -->
  <form *ngIf="!loggedIn()" (ngSubmit)="login()" #loginForm="ngForm" class="ml-5 form-inline my-2 my-lg-0">
    <!-- عايز اربط ال input ده الخاص بأسم المشترك مع ال model اللى فى ال nav.component.ts-->
    <!-- [(ngModel)]="model" اللى جاى من nav.component.ts -->
    <!-- ال Angular بيفهم ال validation اللى فى ال Html -->
    <!-- ال name تعريق ال angular بال Field نفسه -->
    <input #username="ngModel" name="username" required class="form-control mr-sm-2" type="text" [(ngModel)]="model.username" placeholder="إسم المشترك">
    <input #password="ngModel" name="password" required class="form-control mr-sm-2" type="password" [(ngModel)]="model.password" placeholder="كلمة السر">
    <button [disabled]="!loginForm.valid" style="font-weight:bold;font-family:'JF Flat';font-size:1.0rem" class="btn btn-secondary my-2 my-sm-0" type="submit">تفضل
      بالدخول</button>
  </form>
    <!-- end 41-04-06 -->
</nav>

